.page-header {
    background: #f7f7f7;
    margin-bottom: $l-size;
    padding: $l-size;
}
.page-header__actions{
    margin-top: $m-size;
}

.page-header__title{
    margin:0;
    font-weight: 200;
    span{
        font-weight: 800;
    }

}